@font-face {
    font-family: roboto-bold;
    src: url('../fonts/roboto-bold-webfont.woff');
}

@font-face {
    font-family: roboto-light;
    src: url('../fonts/roboto-light-webfont.woff');
}

@font-face {
    font-family: roboto-regular;
    src: url('../fonts/roboto-regular-webfont.woff');
}

@font-face {
    font-family: roboto-black;
    src: url('../fonts/roboto-black-webfont.woff');
}

body {
    color: #474748!important;
}

.container {
    width: 80%;
}

h1,
h2 {
    font-family: roboto-bold;
}

p {
    font-family: roboto-regular;
    font-size: 16px;
    color: #9e9e9e;
}

.header {
    margin-top: 20px;

    p,
    h1 {
        display: inline-block;
        padding-right: 30px;
    }
}



.header h1 {
    font-size: 30px;
    padding-left: 3px;
}

.credit-left {
    background-color: #d23859;
    color: #ffffff;
    border-radius: 24px;
    padding: 3px 5px;
    font-size: 17px;
    margin-right: 5px;
}

.process {
    float: right;
    display: inline-flex;
    margin-top: 30px;

    p {
        padding-right: 0;
    }

}


.process-border {
    height: 20px;
    display: table;
    width: 250px;
    border: 1px solid #ededed;
    border-radius: 3px;
    position: relative;
    margin-right: 15px;

    span {
        background: #81c320;
        height: 20px;
        display: table;
        border-radius: 3px;
        position: absolute;
        top: 0px;
    }
}


.process-fill {
    transition: all .7s ease-in-out;
}

#filter-bar {
    background-color: #f0f2f2;
    height: 60px;
    padding: 5px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin-top: 10px;

    p {
        font-size: 18px;
    }
}



.form-control {
    height: 47px;
    border-radius: 6px;
    font-family: roboto-light;
    font-size: 18px;
}

.right-border {
    border-right: 1px solid #e4e4e4;
}

label {
    font-family: roboto-light;
    font-size: 15px;
    font-weight: 100;
}

.cus-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cus-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.cus-box:hover input ~ .checkmark {
    background-color: #eee;
}

.cus-box input:checked ~ .checkmark {
    background-color: #81c320;
}

.cus-box input:checked ~ .checkmark:after {
    display: block;
}

.cus-box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


//MAIN CONTENT CSS
#mainContent {
    margin-top: 10px;

    h2 {
        font-size: 20px;
        margin-bottom: 0;
        padding: 10px;
    }
    .acadamic-year {
        cursor: pointer;
        border-radius: 8px;
        border: 1px solid #fff; //        padding-bottom: 20px;
        border: 1px solid #ccc;
        background-color: #f0f2f2;
        transition: background-color 0.3s;
        padding: 0;

        p {
            margin-left: 10px;
        }
    }
    .course-slot {

        border-radius: 7px;
        border: 1px dashed #ccc;
        margin: 10px;
        p {
            padding: 15px;
            margin-bottom: 0;
            font-size: 16px;
            color: #ccc;
        }
    }

    .course {
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #fff;
        margin: 10px;
        padding: 10px;
        border-left: 9px solid #81c320;

        p {
            color: #333;
            padding-bottom: 0;
            margin-bottom: 0;
            span {
                color: #969696;
            }
        }

        .missing-req {
            border: 1px solid #333;
            background-color: #fe446b;
            color: #ffffff;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            text-align: center;
            float: right;
            margin-right: 5px;
        }


    }
    .triangle-down {
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top: 23px solid #ffffff;
        right: 15px;
        position: absolute;
    }
    .missing-req-detail {
        display: none;
        position: absolute;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #fff;
        margin-top: 10px;
        width: 94%;
        padding: 10px;
        right: 11px;
        top: 70px;
        border-left: 9px solid #fe446b;

        a {
            font-size: 18px;
        }
    }

    .add-course {
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: #fff;
        margin: 10px;
        padding: 0;

        .add {
            background-color: #26afdf;
            height: 68px;
            padding-top: 6px;
            width: 68px;
            font-size: 45px;
            text-align: center;
            display: inline-block;
            color: #ffffff;
            border-radius: 8px 0px 0px 8px;
        }

        .add-course-title {
            display: inline-block;
            padding-left: 12px;

        }
        p {
            color: #26afdf;
            margin: 0;
            font-weight: 400;
            font-size: 19px;
            line-height: 1;
        }
    }


    .acadamic-year-footer {
        background-color: #26afdf;
        height: 100px;
        width: 100%;
        border-radius: 0px 0px 8px 8px;

        .submit-btn {
            background-color: #007aaf;
            color: #fff;
            font-family: roboto-light;
            font-size: 20px;
        }
    }

}
.outter-border{
        border: 1px solid #007aaf;
    background-color: #26afdf;
    width: 180px;
    border-radius: 5px;
    padding: 2px;
}
.course-collection {
    background-color: #ffffff;
    width: 99.99%;
    padding:20px 0;
}

@media screen and (max-width:1600px) {
    .cus-box {
        font-size: 12px!important;
    }
}